{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}



<div class="card-title mb-3">
    <h3 class="card-title mb-3">Create A Post</h3>
</div>
<form class="p-4 p-md-5 border rounded-3 bg-light" method='POST'>
    {% csrf_token %}
    <div class="form-floating mb-3">
        {% render_field form.title class="form-control" %}
        <label for="floatingInput">Post Title</label>
    </div>
    <div class="form-floating mb-3">
        {% render_field form.body class="form-control" %}
        <label for="floatingInput">Hmm.. Tell us More!</label>
    </div>
    <div class="mb-3">
        <label for="floatingInput" >Are you publishing this now? </label>
        {% render_field form.is_published class="form-check-input" %}
    </div>
    
    <button class="w-100 btn btn-lg btn-primary" >Submit</button>
</form>

{% endblock content %}